div#contactDiv{
align-items: center;
}
div#contactDiv input{
    margin: auto 10%;
    padding: 1%;
    width : 80%;
    border: none;
    border-radius: 10px;
}

div#contactDiv textarea{
    margin: auto 10%;
    padding: 1%;
    width : 80%;
    border: none;
    border-radius: 10px;
    resize:vertical;
}

div#contactDiv button{
    margin: auto 10%;
    padding: 1%;
    width : 82%;
    border: none;
    border-radius: 10px;
    color: #252526;
    background-color: #CE9178;
}
div#contactDiv button:hover{
    cursor: pointer;
    background-color: #4EC8AF;
}