@media (min-width:1001px){
	footer{
		/*position*/
		position: absolute;
		bottom:1%;
		margin-left: 40%;
		margin-right: 40%;
		width: 20%;
		height: 1%;
		/*display*/
		display:table;
		z-index: 10;
		/*box*/
		border-radius: 25px;
	}
}
@media (max-width: 1000px){
	footer{
		/*position*/
		position: absolute;
		bottom:1%;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		height: 5%;
		/*display*/
		display:table;
		z-index: 10;
		/*box*/
		border-radius: 25px;
	}
}


.social{
	/*text*/
	display:table-cell; 
	vertical-align:middle;
	text-align:center;
}
#social{
	/*position*/
	width:30%;
	padding: 10% 0;
	margin:auto;
}

.social-fb:hover{
	filter: invert(1) sepia(1) saturate(154) hue-rotate(165deg);
}
.social-insta:hover{
	filter: invert(30%) sepia(97%) saturate(7495%) hue-rotate(295deg) brightness(119%) contrast(117%);
}
.social-in:hover{
	filter: invert(1) sepia(1) saturate(154) hue-rotate(165deg);
}
.social-git:hover{
	filter: invert(1) sepia(1) saturate(100) hue-rotate(320deg);
}