#formation{
	height:150%;
}

.formation{
	/*position*/
	position: relative;
	padding: 0 20%;
	width: 60%;
	height: 50%;
}
.timeline{
	/*position*/
	position: relative;
	margin: 1% auto;
	width: 1%;
	height:20%;
	/*box*/
	border-radius: 25px;
}
.timeline-event{
	/*position*/
	position: relative;
	display: flex;
	width:100%;
}
/*
---------------------------------------
-----------------------------------desc
---------------------------------------
*/
.timeline-event-desc{
	/*position*/
	position: relative;
    width: 35%;
    margin: auto;
}
.timeline-event-desc div{
	/*position*/
	position: relative;
	/*text*/
	text-align: center;
	font-size: 14px;
}
.timeline-event-desc-line1{
	font-weight: bold;
}
.timeline-event-desc-line2{
	font-style: italic;
}
/*
---------------------------------------
-----------------------------------date
---------------------------------------
*/
.timeline-event-date{
	display: table;
	/*position*/
	position: relative;
	width: 20%;
    margin: auto 5%;
	/*text*/
	text-align:center;
	/*box*/
	border-radius: 25px;
}
.timeline-event-date div{
	display: table-cell;
	/*position*/
	vertical-align:middle;
}
/*
---------------------------------------
-----------------------------------logo
---------------------------------------
*/
.timeline-event-logo{
	/*position*/
	position: relative;
    width: 35%;
	margin: auto;
	text-align: center;
}
.timeline-event-logo img{
	display: inline-flex;
	/*position*/
	position: relative;
	width: 40%;
	
}
