header{
	/*position*/
	position: absolute;
	margin-top:1%;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: 5%;
	/*text*/
	display:table;
	text-align:center;
	font-family:Poppins;
	font-size:1vw;
	/*box*/
	border-radius: 25px;
	background-color:rgba(255,255,255,0.25);
}

.header-link{
	/*position*/
	width: 20%;
	height: 100%;
	/*text*/
	display:table-cell; 
	vertical-align:middle;
	text-decoration: none;
	/*color*/
	color:aliceblue;
}
.header-link:hover{
	/*text*/
	cursor:pointer;
	/*text*/
	font-size:18px;
	/*color*/
	color:blanchedalmond;
}