header{
	/*position*/
	position: absolute;
	display:inline-flex;
	padding-left: 33%;
	padding-right: 5%;
	height: 7%;
	width: 80%;
	/*text*/
	text-align:center;
	vertical-align:middle;
	font-family:Poppins;
	font-size:15px;
	/*color*/
	color:aliceblue;
	background-color:transparent;
}
.headerBtn{
	/*position*/
	margin:1%;
	width:15%;
	/*border*/
	border:none;
	/*text*/
	text-align:inherit;
	vertical-align:inherit;
	font-family:inherit;
	font-size:inherit;
	/*color*/
	color:inherit;
	background-color:inherit;
}
.headerBtn:hover{
	/*text*/
	cursor:pointer;
	/*text*/
	font-size:16px;
	/*color*/
	color:blanchedalmond;
}