.home-block1{
	position: absolute;
	top:40%;
	left:2%;
	width:70%;
	height:20%;
	vertical-align:middle;
}
.home1{
	/*position*/
	position: relative;
	padding-top: 2%;
	padding-left: 15%;
	/*text*/
	font-size:24px;
}
.home2{
	/*position*/
	position:relative;
	padding-top: 1%;
	padding-left: 15%;
	/*text*/
	font-weight:bold;
	font-size:28px;
}
.home3{
	/*position*/
	position:relative;
	padding-top: 2%;
	padding-left: 15%;
	/*text*/
	font-size:18px;
}
