html,body{
	margin:0;
	padding:0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
section{
	/*position*/
	position:relative;
	width:100vw;
	height:100vh;
	z-index:1;
	/*text*/
	font-family:Poppins;
}
canvas{
	/*position*/
	position:absolute;
	width:100%;
	height:100%;
}
h1{
	/*position*/
	position:relative;
	width:80%;
	height:10%;
	padding: 10% 10% 5% 10%;
	margin:0;
	z-index:2;
	/*text*/
	font-family:Poppins;
	font-size:300%;
}

p{
	position:relative;
	width:80%;
	height:50%;
	padding-left:10%;
	padding-right:10%;
}