html,body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	background-color: #252526;
	color: #B9B9B9;
}

section{
	position:relative;
	margin: 10% auto;
	padding: 5%;
	width: 80%;
	background-color: #1E1E1E;
	border-radius: 10px;
	z-index: 10;
}

h1{
	color: #C586C0;
}

h2{
	margin-left: 5%;
	color: #89C1DE;
}
p{
	color: #B9B9B9;
}
a{
	color: inherit;
}
orange{
	color: #CE9178;
}
gray{
	color: #B9B9B9;
}
green{
	color: #4EC8AF;
}

progress {
	display:inline-block;
	width:70%;
	vertical-align:middle;

	appearance: none;
	border:none;

	color: #4EC8AF;
	background: #252526;
}

progress::-moz-progress-bar {
	background: #4EC8AF;
}
progress::-webkit-progress-value {
	background: #4EC8AF;
}
progress::-webkit-progress-bar {
	background: #252526;
}
/**

HEADER

**/
img#neuralnetwork{
	position: absolute;
	width:100%;
	z-index: 1;
}
header {
	position: relative;
	display: inline-flex;
	margin:  5% 5% 0;
	width: 90%;
	z-index: 10;
}
div#sections{
	width: 60%;
}
div.lang{
	margin-left: auto;
	width : 10%;
}
div.lang, div#sections{
	background-color: #1E1E1E;
	padding: 1%;
	border-radius: 10px;
	text-align: center;
}
div.lang a, div#sections a{
	text-decoration: underline;
	margin : 2%;
	color: #CE9178;
}
div.lang a:hover, div#sections a:hover{
	cursor: pointer;
	color: #4EC8AF;
}
/** 

ABOUT 

**/
@media (min-width: 801px){
	section#about{
		display: block;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 70%;
		background-color: transparent;

	}

	section#about div.col{
		position: relative;
		display: inline-block;
		margin: 5%;
		padding: 5%;
		width: 29.5%;
		height: 90%;
		background-color: #1E1E1E;
		border-radius: 10px;

	}

	section#about div.col img{
		width: 60%;
		border-radius: 100%;
	}
	section#about div.col div.profile{
		font-size: 1.5em;
	}

	div.about{
		margin: 10%;
	}
}
/** 

SKILLS 

**/
@media (min-width: 801px) {
	div.col {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}

	#skills.languages {
		display: block;
	}

	div.skillLine {
		display: inline-block;
		text-align: left;
		width: 40%;
		margin: 5%;
	}

	div.skillLine label {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin-left: 5%;
	}

	img.skill {
		display: inline-block;
		vertical-align: middle;
		margin: auto 1%;
		height: 50px;
		width: auto;
	}
}
/**

Formation

**/
@media (min-width: 801px) {
	img.institution {
		float: right;
		height: 100px;
		width: 100px;
	}
}
div.institutionGroup{
	margin: auto 10%;
}
/** 

Certifications 

**/
@media (min-width: 801px) {
	img.certifications {
		height: 100px;
		width: 100px;
	}

	.certificationsGroup {
		display: flex;
		margin-left: 10%;
	}

	.imgbox {
		margin: auto;
		text-align: center;
		vertical-align: middle;
	}
}
/** 

PROJECTS 

**/

div.projectInfo {
	margin: auto 10%;
}

/** 

CONTACT 

**/
div#contactDiv{
	align-items: center;
	}
	div#contactDiv input{
		margin: auto 10%;
		padding: 1%;
		width : 80%;
		border: none;
		border-radius: 10px;
	}
	
	div#contactDiv textarea{
		margin: auto 10%;
		padding: 1%;
		width : 80%;
		border: none;
		border-radius: 10px;
		resize:vertical;
	}
	
	div#contactDiv button{
		margin: auto 10%;
		padding: 1%;
		width : 82%;
		border: none;
		border-radius: 10px;
		color: #252526;
		background-color: #CE9178;
	}
	div#contactDiv button:hover{
		cursor: pointer;
		background-color: #4EC8AF;
	}
/** 

FOOTER 

**/
footer{
	text-align: center;
	background-color: transparent;
}
img.footer{
	margin: auto 1%;
	height : 20px;
	width : 20px;
}

#github:hover{
	content: url('../icons/social/github-green.png');
}
#linkedin:hover{
	content: url('../icons/social/linkedin-green.png');
}