html,body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	background-color: #252526;
	color: #B9B9B9;
}

section{
	margin: 10% auto;
	padding: 5%;
	width: 80%;
	background-color: #1E1E1E;
	border-radius: 10px;
}

h1{
	color: #C586C0;
}

h2{
	margin-left: 5%;
	color: #89C1DE;
}
p{
	color: #B9B9B9;
}
orange{
	color: #CE9178;
}
gray{
	color: #B9B9B9;
}
green{
	color: #4EC8AF;
}

progress {
	display:inline-block;
	width:70%;
	vertical-align:middle;

	appearance: none;
	border:none;

	color: #4EC8AF;
	background: #252526;
}

progress::-moz-progress-bar {
	background: #4EC8AF;
}
progress::-webkit-progress-value {
	background: #4EC8AF;
}
progress::-webkit-progress-bar {
	background: #252526;
}

/** for languages & skills**/
div.col{
	display:inline-block;
	vertical-align:middle;
	width:50%;
}


/** Footer **/
footer{
	text-align: center;
	background-color: transparent;
}
img.footer{
	margin: auto 1%;
	height : 20px;
	width : 20px;
}