#projects{
	height: 150%;
}
/*******************************/
/*		        TABLE 		   */
/*******************************/
.projects-table{
	position: relative;
	z-index:5;
	/*position*/
	width: 80%;
	height: 40%;
	padding: 0 10%;
}
/*******************************/
/*		    TABLE ROW 		   */
/*******************************/
.projects-table-line{
	display: inline-flex;
	/*position*/
	position: relative;
	width: 100%;
	margin-top: 5%;
	z-index:inherit;
}
@media (min-width: 1001px){
	.projects-table-line{
		height: 30%;
	}
}
@media (max-width: 1000px){
	.projects-table-line{
		height: 40%;
	}
}
/*******************************/
/*		    TABLE COLUMN 	   */
/*******************************/
.projects-table-col{
	/*position*/
	position: relative;
	width: 90%;
	height: 100%;
	padding: 0 5%;
	z-index:inherit;
}
/*******************************/
/*		    TABLE CELL 		   */
/*******************************/
.projects-table-cell{
	display: block;
	/*position*/
	position: relative;
	padding: auto;
	width: 100%;
	padding: 10% 0;
	z-index:inherit;
	/*text*/
	text-align: center;
	text-decoration: none;
	/*box*/
	border: 2px solid;
	box-shadow: 5px 5px;
}
@media (min-width: 1001px){
	.projects-table-cell{
		height: 10%;
	}
}
@media (max-width: 1000px){
	.projects-table-cell{
		height: 30%;
	}
}