#skills.languages{
    display: block;
}

div.skillLine{
    display:inline-block;
    text-align:left;
    width:40%;
    margin: 5%;
}

div.skillLine label{
    display:inline-block;
    vertical-align:middle;
    width:auto;
    margin-left: 5%;
}
img.skill{
    display:inline-block;
    vertical-align:middle;
    margin: auto 1%;
    height : 50px;
    width : auto;
}